/Client/.vs/Client/v14/.suo
/Client/.vs/Client/v15/.suo
/Client/Client.Editor.Plugins.csproj
/Client/Client.Editor.csproj
/Client/Client.Plugins.csproj
/Client/Client.csproj
/Client/Client.sln
/Client/Library
/Client/Log
/Client/Temp
/Client/bin/GOW.apk
