<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:ramcache="http://www.engine.com/common/ramcache"
	xmlns:protocol="http://www.engine.com/common/protocol"
	xmlns:socket="http://www.engine.com/common/socket"
	xmlns:resource="http://www.engine.com/common/resource"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.engine.com/common/protocol http://www.engine.com/common/protocol/protocol-1.0.xsd
		http://www.engine.com/common/resource http://www.engine.com/common/resource/resource-1.0.xsd
		http://www.engine.com/common/socket http://www.engine.com/common/socket/socket-1.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.engine.com/common/ramcache http://www.engine.com/common/ramcache/ramcache-1.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- AOP拦截配置 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<!-- 配置文件载入配置 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>auth_conf.properties</value>
				<value>configuration.properties</value>
				<value>version.properties</value>
				<value>jdbc.properties</value>
				<value>log4j.properties</value>
			</list>
		</property>
	</bean>

	<!-- 转换器配置 -->
	<bean
		class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.engine.common.resource.support.StringToDateConverter" />
				<bean class="com.engine.common.resource.support.StringToClassConverter" />
				<bean class="com.engine.common.resource.support.JsonToMapConverter" />
				<bean class="com.engine.common.resource.support.JsonToArrayConverter" />
				<bean class="com.engine.common.resource.support.JsonToCollectionConverter" />
				<bean class="com.engine.common.resource.support.JsonToObjectConverter" />
			</list>
		</property>
	</bean>
	
	<bean id="accessor" class="com.game.auth.utils.HibernateAccessorEx">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 开启注释配置 -->
	<context:annotation-config />

	<!-- 自动包扫描配置 -->
	<context:component-scan base-package="
		com.engine.common,
		com.game.auth" />

	<!-- 数据源配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="validationQuery" value="select ''" />
		<property name="numTestsPerEvictionRun" value="10" />
		<property name="testOnBorrow" value="false" />
		<property name="testWhileIdle" value="false" />
		<property name="initialSize" value="10" />
		<property name="maxActive" value="50000" />
		<property name="maxIdle" value="5" />
		<property name="minIdle" value="1" />
	</bean>

	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.game.auth.**.manager" />
		<property name="hibernateProperties">
			<props>
				<prop key="current_session_context_class">thread</prop>
				<prop key="cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>

				<!-- 使用MySQL要加的配置 -->
				<prop key="connection.autoReconnect">true</prop>
				<prop key="connection.autoReconnectForPools">true</prop>
				<prop key="connection.is-connection-validation-required">true</prop>
				<!-- 初始化SQL文件 <prop key="hibernate.hbm2ddl.import_files">/import.sql</prop> -->
			</props>
		</property>
	</bean>
    


	<!-- 解码器配置 -->
	<bean id="coder" class="com.engine.common.socket.codec.ProtocolCoder" />
	<protocol:config id="protocol">
		<protocol:package index="1000" name="com.game.gow" />
		<protocol:class index="1"
			name="com.engine.common.utils.model.Result" />
		<protocol:class index="2"
			name="com.engine.common.utils.model.Page" />
	</protocol:config>
	<bean id="jsonCoder" class="com.engine.common.socket.codec.JsonCoder" />




</beans>
